html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table {
    border: 1px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

tbody td, th {
    border: 1px solid black;
    text-align: center;
}

table, td, tr {
    padding: 5px;
    border-collapse: collapse;
    
}

tbody th {
    background-color: brown;
    color: white;
}

thead th {
    background-color: palevioletred;
    color: white;
}

table tbody tr:nth-child(1) td:nth-child(2) {
    background-color: bisque;
}

.columns {
    column-count: 2;
    column-rule: 1px solid black;
    column-gap: 150px;
}

.columns h2 {
    column-span: all;
}

.nr150 {
    background-color: plum ;
}

.ac240 {
    background-color: pink;
}

.ec211 {
    background-color: palegreen;
}

.cs222 {
    background-color: powderblue;
}

.study {
    background-color: peachpuff;
}